
body {
	
	margin: 0;
    background-color: black;
    color: white; 
    height: 100vh;
}

h1 {
    color: white;
    text-align: center;
    
}


.legende-container {
    display: flex;
    gap: 200px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.carte {
    width: 380px;
    height: 420px;
    display: flex;
    flex-direction: column;
}

.image-carte {
    flex: 1;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 28px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease;
}

.image-carte:hover {
    transform: scale(1.05);
}

.titre-gauche, .titre-droite {
    margin-bottom: 10px;
}

.titre-gauche {
    align-self: flex-start;
}

.titre-droite {
    align-self: flex-end;
}

.titre-gauche a, .titre-droite a {
    background-color: rgba(0, 0, 0, 0.85);
    color: gold;
    font-family: cursive;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.titre-gauche a:hover, .titre-droite a:hover {
    color: silver;
}












#Legende #chansons {
    float: right;
}

#Legende #histoire {
    float: left;
}

ul {
    list-style-type: none; 
   padding: 0;           
   margin: 0;           

}

a {
    text-decoration: none; 
           
}

#histoire p a {
    float: right;
    background-color: black;
    color: gold;
    font-family: cursive;
    margin-right: -175px;
    box-shadow: -3px 3px 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 40%;
}

#chansons p a {
    float: left;
    background-color: black;
    color: gold;
    font-family: cursive;
    margin-left: -175px;
    box-shadow: -3px 3px 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 40%;
}

#Legende li:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}


/* code css pour la bannière*/

.Fil {
    width: 100%;
    max-width: 1200px;
    margin: 15px auto 0 auto;
    background: gold;
    padding: 10px 0;
    border-radius: 15px; /* coins arrondis */
}

.Fil ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.Fil ul li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.Fil ul li a {
    color: white;
    font-size: 17px;
    font-family: cursive;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.Fil a:hover {
    background: black;
    transition: background 0.2s;
}

/* Sous-menu */
.Fil ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    border-radius: 5px;
    padding: 0;
    z-index: 1000;
}

.Fil ul ul li {
    display: block;
    margin: 0;
}

.Fil ul ul li a {
    padding: 10px 20px;
    width: 160px;
    color: white;
}

.Fil li:hover > ul {
    display: block;
}
